/* normalize css starts here */
*, *::before, *::after {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

img {
    -webkit-user-drag: none;
}

/* normalize css ends here */

html, body, #root {
    width: 100%;
    height: 100%;
    max-height: 100%;
    color: rgba(255, 255, 255, 0.67);
    background-image: linear-gradient(to right, #ec6ead, #3494e6);
    //font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', cursive, sans-serif;
    font-weight: 400;
    overflow: hidden;
}

button {
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid transparent;
    color: inherit;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    background-color: #ccc3;
    cursor: pointer;
    transition: border-color 0.25s;

    &:hover {
        border-color: #646cff;
    }
}

input {
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid transparent;
    outline: none;
    color: inherit;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    background-color: #ccc3;
    cursor: text;
    transition: border-color 0.25s;

    &::placeholder{
        color: rgba(255, 255, 255, 0.34);
    }

    &:hover {
        border-color: #646cff;
    }

    &:focus {
        border-color: #9a3424;
    }
}

code {
    font-size: 12px;
    font-family: inherit;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2px 4px;
    border-radius: 2px;
}

.divider {
    margin: 32px auto;
    width: 50px;
    border: 0.5px dashed #fff;
    opacity: 0.2;
}

.breath {
    @keyframes _breath {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    animation: _breath 1s infinite linear;
}

.blink {
    @keyframes _blink {
        0% {
            opacity: 1;
        }
        40% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        60% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
    }
    animation: _blink 1s infinite linear;
}
